.dart_tool/
.flutter-plugins-dependencies
.packages
build/
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
ios/Frameworks/
ios/SingboxTunnel/
ios/Runner/Runner.entitlements
*.jks
*.keystore
*.p12
*.mobileprovision
*.pem
*.key
android/.gradle/
android/.kotlin/
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
.env
.env.*
packages/vpn_plugin/android/libs/*.aar

# Generated core checksum.
/packages/vpn_plugin/android/libs/*.aar.sha256
/packages/vpn_plugin/android/src/main/jniLibs/
